In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline

In [3]:
df = pd.read_csv('recruit.csv')
df.head()

,Application ID,Date of application,Pre-screening Verbal Reasoning Test Score,Final Stage,Gender
0,Just a unique identifier,When the application was submitted,Mark out of 100,The final outcome of the application,NaN
1,295961,12/24/2016,62%,Rejected at 1st Stage (Screening),Male
2,681724,3/8/2016,58%,Rejected at 1st Stage (Screening),Male
3,226158,6/7/2018,48%,Rejected at 1st Stage (Screening),Female
4,791821,5/27/2019,78%,Rejected at 1st Stage (Screening),Female

In [4]:
df['Gender'].value_counts()

Female               592
Male                 379
Prefer not to say     28
Name: Gender, dtype: int64

In [5]:
df['Final Stage'].value_counts()

Rejected at 1st Stage (Screening)         514
Rejected at 2nd Stage (Assessment Day)    204
Made an offer                             204
Rejected at 3rd Stage (121 Interview)      77
The final outcome of the application        1
Name: Final Stage, dtype: int64

In [7]:
df.describe()

,Application ID,Date of application,Pre-screening Verbal Reasoning Test Score,Final Stage,Gender
count,1000,1000,1000,1000,999
unique,999,738,68,5,3
top,668348,7/14/2016,53%,Rejected at 1st Stage (Screening),Female
freq,2,4,41,514,592

In [8]:
df.columns

Index(['Application ID', 'Date of application',
       'Pre-screening Verbal Reasoning Test Score', 'Final Stage', 'Gender'],
      dtype='object')

In [40]:
df2=df.drop([0])

In [86]:
df=df2.drop('Application ID', axis=1)

In [87]:
df4=df3.rename({"Pre-screening Verbal Reasoning Test Score":"Initial Score"}, axis=1)

In [88]:
type('Initial Score')

str

In [89]:
df5=df4['Initial Score'].str.rstrip('%').astype('float') / 100.0

In [90]:
df5

1      0.62
2      0.58
3      0.48
4      0.78
5      0.68
       ...
995    0.60
996    0.58
997    0.50
998    0.65
999    0.42
Name: Initial Score, Length: 999, dtype: float64

In [98]:
df4['new']= df5.values

In [99]:
df4

,Date of application,Initial Score,Final Stage,Gender,new
1,12/24/2016,62%,Rejected at 1st Stage (Screening),Male,0.62
2,3/8/2016,58%,Rejected at 1st Stage (Screening),Male,0.58
3,6/7/2018,48%,Rejected at 1st Stage (Screening),Female,0.48
4,5/27/2019,78%,Rejected at 1st Stage (Screening),Female,0.78
5,2/14/2018,68%,Rejected at 1st Stage (Screening),Male,0.68
...,...,...,...,...,...
995,1/23/2017,60%,Rejected at 3rd Stage (121 Interview),Male,0.60
996,6/10/2017,58%,Rejected at 1st Stage (Screening),Male,0.58
997,12/6/2017,50%,Made an offer,Female,0.50
998,10/16/2019,65%,Rejected at 1st Stage (Screening),Female,0.65
999,7/9/2019,42%,Rejected at 1st Stage (Screening),Female,0.42

In [104]:
df4.shape

(999, 5)

In [101]:
df4.describe()

              new
count  999.000000
mean     0.588368
std      0.118050
min      0.230000
25%      0.510000
50%      0.590000
75%      0.670000
max      1.000000

In [102]:
type('new')

str

In [116]:
print(df.info())
df['Final Stage'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 1 to 999
Data columns (total 4 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date of application                        999 non-null    object
 1   Pre-screening Verbal Reasoning Test Score  999 non-null    object
 2   Final Stage                                999 non-null    object
 3   Gender                                     999 non-null    object
dtypes: object(4)
memory usage: 39.0+ KB
None

array(['Rejected at 1st Stage (Screening)', 'Made an offer',
       'Rejected at 2nd Stage (Assessment Day)',
       'Rejected at 3rd Stage (121 Interview)'], dtype=object)

In [127]:
from sklearn import preprocessing

#Date of application	Initial Score	Final Stage	Gender	

FinalStage = preprocessing.LabelEncoder()
FinalStage.fit(['Rejected at 1st Stage (Screening)','Made an offer','Rejected at 2nd Stage (Assessment Day)', 'Rejected at 3rd Stage (121 Interview)'])

X[0:5]

array([['Mark out of 100'],
       ['62%'],
       ['58%'],
       ['48%'],
       ['78%']], dtype=object)

In [128]:
df4

,Date of application,Initial Score,Final Stage,Gender,new
1,12/24/2016,62%,Rejected at 1st Stage (Screening),Male,0.62
2,3/8/2016,58%,Rejected at 1st Stage (Screening),Male,0.58
3,6/7/2018,48%,Rejected at 1st Stage (Screening),Female,0.48
4,5/27/2019,78%,Rejected at 1st Stage (Screening),Female,0.78
5,2/14/2018,68%,Rejected at 1st Stage (Screening),Male,0.68
...,...,...,...,...,...
995,1/23/2017,60%,Rejected at 3rd Stage (121 Interview),Male,0.60
996,6/10/2017,58%,Rejected at 1st Stage (Screening),Male,0.58
997,12/6/2017,50%,Made an offer,Female,0.50
998,10/16/2019,65%,Rejected at 1st Stage (Screening),Female,0.65
999,7/9/2019,42%,Rejected at 1st Stage (Screening),Female,0.42

In [138]:
df6 = pd.get_dummies(df4, columns=['Final Stage'])

In [139]:
df6

,Date of application,Initial Score,Gender,new,Final Stage_Made an offer,Final Stage_Rejected at 1st Stage (Screening),Final Stage_Rejected at 2nd Stage (Assessment Day),Final Stage_Rejected at 3rd Stage (121 Interview)
1,12/24/2016,62%,Male,0.62,0,1,0,0
2,3/8/2016,58%,Male,0.58,0,1,0,0
3,6/7/2018,48%,Female,0.48,0,1,0,0
4,5/27/2019,78%,Female,0.78,0,1,0,0
5,2/14/2018,68%,Male,0.68,0,1,0,0
...,...,...,...,...,...,...,...,...
995,1/23/2017,60%,Male,0.60,0,0,0,1
996,6/10/2017,58%,Male,0.58,0,1,0,0
997,12/6/2017,50%,Female,0.50,1,0,0,0
998,10/16/2019,65%,Female,0.65,0,1,0,0
999,7/9/2019,42%,Female,0.42,0,1,0,0